

<form class="sign-up-form" action="/tambahfieldphoto?_method=PUT" method="POST" enctype="multipart/form-data">
    <h2 class="sign-up-heading">Edit User</h2>
    
    <input type="hidden" name="zonaid" value="<%= zonaid %>" />
    
    <h3 class="sign-up-sub-heading"> <%= listzonanows %></h3>
    
    <label for="image">Profile Picture:</label>
    <input type="file" name="image" multiple />
    
    <button type="submit" class="btn btn-dark">Tambah Data</button>
    
  </form>
         

  <div class="field-photo">
    <div class="row">
    <% fieldphotozonanows.forEach((fieldphotozonanow) => { %>
          <div class="col-4 field-photo-grid">
            <img src="/project/dataset/fieldphoto/<%= fieldphotozonanow.fieldphoto %>" alt="">
          </div> 
          <% }) %>
        </div>
      </div>

      <a href ="/admin/">&laquo; kembali ke layar admin</a>