
        

  <div class="field-photo">
    <div class="row">
    <% fieldphotozonanows.forEach((fieldphotozonanow) => { %>
          <div class="col-4 field-photo-grid">
            <img src="/project/dataset/fieldphoto/<%= fieldphotozonanow.fieldphoto %>" alt="">
          </div> 
          <% }) %>
        </div>
      </div>

      <a href ="/admin/">&laquo; Back to admin page</a>