<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="img/amatilogo.png" sizes="192x192" />
  <title>Beranda</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">


</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand col-1" id="logo-amati" href="/beranda">AMATI</a>
    <strong href="/beranda" class="text-dark posisi-page">building construction's future</strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/beranda"><img class="icon" src="img/beranda.png">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/daftarproyek"><img class="icon" src="img/proyek.png">Daftar Proyek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"><img class="icon" src="img/koneksi.png">Koneksi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"><img class="icon" src="img/informasi.png">Informasi</a>
        </li>

        <li class="nav-item dropdown profil">
          <strong class="text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= name %>
          </strong>
          <div class="profile dropdown-menu bg-warning" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profil</a>
            <a class="dropdown-item" href="#">Pengaturan</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ======= Hero Section ======= -->
  <%- body %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/33f1988f52.js" crossorigin="anonymous"></script>
  <script src="/navbar.js" charset="utf-8"></script>
  <script src="/toggle-comment.js" charset="utf-8"></script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/6127778bd6e7610a49b21cb0/1fe12lvh0';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>
