<div class="row login-page">

  <div class="col-lg-6 logo-div">
    <div class="logo-div-child">
      <img class="logo-amati lazyload" src="images/AMATI.png" alt="logo-amati">
    </div>
  </div>

  <div class="col-lg-6 form-div">
    <main class="form-signin">
      <%- include('./partials/messages.ejs') %>
      <form action="/login" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign In to AMATI</h1>

        <div class="form-floating">
          <input type="text" class="form-control login-username" id="floatingInput" placeholder="Username" name="username" required>
          <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control login-password" id="floatingPassword" placeholder="Password" name="password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label class="remember-me">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-light" type="submit">Sign in</button>
        <p class="register-account">Don't have an account? <a class="register-text" href="/">Register</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; PT Amati Teknologi Anagata</p>
      </form>
    </main>
  </div>

</div>
