@font-face {
  font-family: 'MADE-Tommy-Soft-Bold';
  src: url('/fonts/MADE-Tommy-Soft-Bold.otf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('/fonts/Gilroy-Heavy.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf');
}

.made-tommy-soft-bold {
  font-family: 'MADE-Tommy-Soft-Bold';
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/* Disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Navigaton Bar */
.logo-amati-navbar {
  height: 52px;
  width: auto;
  padding: 0 0 0.5rem;
}

.dropdown-menu {
  left: -1.25rem;
}

.dropdown-item:hover {
  background-color: orange;
}

.icon {
  position: static;
  height: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 3.5rem;
  padding: 0 13%;
  z-index: 9999;
}

.navbar-collapse.show .navbar-nav {
  top: 3.4rem;
}

.navbar-collapse.collapsing .navbar-nav {
  top: 3.4rem;
}

.navbar-nav {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #ffc107;
  padding-right: 4%;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.nav-pills .nav-link.active {
  background-color: orange;
}

.posisi-page {
  position: static;
  left: 10%;
}

.profil {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem 3rem;
}

.profil .profile {
  margin: 0;
  border: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  right: 0;
}

/*--------------------------------------------------------------
??
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* CSS SETELAH USER LOG IN */
/* Info Container */
.info-container {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
}

/* Data Pribadi */
.div-beranda {
  position: absolute;
  left: 20.5%;
  top: 7.5rem;
  z-index: -1;
}

.div-data-pribadi {
  background-color: #fff4e7;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.durasi {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.foto-profile {
  margin: 1rem;
  border-radius: 50%;
  border: solid 1px;
  height: 12.5rem;
  width: 12.5rem;
}

.institusi {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.jabatan {
  font-size: 1rem;
  margin-bottom: 0;
}

.keterampilan {
  margin-left: 5rem;
}

.kiri {
  position: static;
  left: 2rem;
}

.lowongan-kerja {
  margin-left: 5rem;
}

.utama {
  position: absolute;
  top: 3rem;
  left: 17.5rem;
}

.pengalaman-kerja {
  margin-left: 5rem;
}

.rentang {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.riwayat-pendidikan {
  margin-left: 5rem;
}

.space {
  padding-left: 0;
  padding-right: 0;
}

#icon-edit {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2rem;
}

.comment-form {
  margin: 0 0 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.comment-form .row {
  margin-top: 1rem;
}

.comment-form .foto-profile {
  border-radius: 100%;
  width: 100%;
  height: auto;
  margin: 0;
}

.comment-form .col-2 {
  padding: 0;
}

.comment-form .nama {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.comment-box {
  border-radius: 3px;
  border: solid 1px;
  height: 5rem;
  width: 100%;
}

.comment-box-div {
  padding-left: 0;
}

.submit-comment-div {
  text-align: right;
}

.reply-comment-form {
  padding: 0;
  text-align: center;
}

.reply-comment-hidden {
  max-height: 0;
  overflow: hidden;
}

.reply-comment-active {
  max-height: 100%;
  padding: 2rem 0 0 0;
}

.div-notifikasi .reply-comment-hidden .foto-profile {
  border-radius: 100%;
  width: 125%;
  height: auto;
  margin: 0;
}

.reply-comment-box-div {
  padding-left: 1.25rem;
}

.reply-comment-box {
  border-radius: 3px;
  border: solid 1px;
  height: 2rem;
  width: 100%;
}

.send-icon {
  font-size: 1.25rem;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 0.75rem;
}

.send-icon-div {
  position: relative;
  padding: 0;
}

.reply-others-div {
  padding: 0.5rem 0 0 0;
}

.reply-others-pic-div {
  margin: auto 0;
  padding: 0;
}

.reply-others-name-div {
  padding-left: 1.25rem;
}

.reply-others-text-div {
  max-width: 100%;
  overflow-wrap: break-word;
}

.reply-others-text {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.foto-profile-comment {
  border-radius: 50%;
  border: solid 1px;
  height: 50px;
  width: 50px;
}

.foto-profile-reply-comment {
  border-radius: 50%;
  border: solid 1px;
  height: 30px;
  width: 30px;
}

.foto-profile-reply-comment-div {
  padding: 0;
  margin: 0;
}

/* Akhir Data Pribadi */
/* Navbar Layout Account */
.navbar.navbar-layout-account {
  padding: 0;
}

.navbar-layout-account .navbar-brand {
  margin-left: 3rem;
}

/* Daftar Proyek */
.daftar-proyek {
  position: static;
  background-color: #fff4e7;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: -1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data-proyek {
  font-size: 1rem;
  margin-bottom: 0;
}

.div-daftar-proyek {
  position: absolute;
  left: 20.5%;
  top: 7.5rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: -1;
}

.div-data-proyek {
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-data-proyek-besar {
  padding-left: 0;
  padding-right: 0;
}

.div-data-proyek-besar .row {
  margin: 0;
}

.logo-proyek {
  width: 100%;
}

.nama-proyek {
  padding-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#icon-edit-data-proyek {
  position: absolute;
  top: 0;
  right: 0;
  width: 4%;
}

#link-invite {
  position: static;
}

#notifikasi {
  position: static;
}

/* Akhir Daftar Proyek */
/* KCIC */
.button-info-container {
  width: 100%;
  margin-top: 1rem;
}

.button-info-container .logo {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.button-info-container .keterangan {
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0;
}

.info-container-ringkas {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
  background-color: #ffeaaa;
}

.info-container-ringkas .div-logo {
  padding: 0;
}

.info-container-ringkas .div-ringkas {
  padding: 0;
}

.info-container-ringkas .logo {
  width: 100%;
  margin: auto;
}

.info-container-ringkas p {
  margin: 0;
  font-size: 0.75rem;
}

/* Informasi Proyek KCIC */
.div-informasi-proyek {
  position: absolute;
  left: 20%;
  top: 6rem;
  z-index: -1;
}

.div-informasi-proyek h6 {
  margin-top: 1rem;
}

.div-informasi-proyek .div-utama {
  margin-top: 2rem;
}

.div-div-notifikasi {
  padding: 0;
}

.div-notifikasi .col-2 {
  padding: 0;
}

.div-notifikasi .foto-profile {
  width: 100%;
  height: auto;
  margin: 0;
}

.div-notifikasi .nama {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.div-notifikasi .jabatan {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.div-notifikasi .perusahaan {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.div-notifikasi .reply {
  margin-left: 0.2rem;
  font-size: 0.6rem;
}

.div-notifikasi .timestamp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
}

.div-notifikasi .keterangan {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.div-peta {
  padding: 0;
}

.div-peta p {
  font-size: 0.8rem;
}

#peta {
  width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  border: solid 1px;
  border-color: black;
}

/* Daftar Username Proyek */
.pihak-proyek {
  padding-bottom: 1rem;
}

.pihak-proyek ul {
  margin-bottom: 0;
}

/* Log In Page */
.html-login {
  height: 100%;
}

.form-div .form-signin h1 {
  color: #fff;
}

.row.login-page {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Left Side */
.logo-div {
  display: flex;
  background-color: #ffc107;
}

.logo-div-child {
  margin: auto;
}

.logo-amati {
  width: 75%;
}

/* Right Side */
.form-div {
  display: flex;
  background-color: #000000;
}

.form-signin {
  width: 70%;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control.login-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control.login-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.remember-me {
  color: #fff;
}

.register-account {
  padding: 1rem 0;
  color: #fff;
}

.register-text {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

.register-text:hover {
  color: #ffc107;
  text-decoration: none;
}

/* EDIT USER INFORMATION */
.edit-user-div {
  padding-top: 100px;
  padding-bottom: 100px;
}

.edit-user-div label {
  font-family: 'Gilroy-Light';
  padding-bottom: 0.5rem;
}

.edit-user-div input {
  font-family: system-ui;
}



/* DIBAWAH INI ADALAH SEMUA YANG DI INTERFACE ADMIN */
/* Log In Admin */
.log-in-admin-div {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.log-in-admin-div-child {
  width: 30%;
}

/* Di Interface Admin  */
.admin-register-project-div, .admin-edit-project-div {
  width: 70%;
  margin: auto;
}
