body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #ffc107;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #B88242;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Header */
#header {
  height: 52px;
  transition: all 0.5s;
}

/* Navigaton Bar */
/* Navigaton Bar */
#logo-amati {
  font-family: 'Archivo', sans-serif;
  font-size: 2rem;
}

.icon {
  position: static;
  height: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 3.5rem;
  padding: 0;
  z-index: 9999;
}

.navbar-nav {
  position: absolute;
  right: 15%;
  z-index: 1;
}

.posisi-page {
  position: static;
  left: 10%;
}

.profil {
  position: absolute;
  right: 2%;
}

.center-log-in-button {
  margin: auto;
}

.nav-log-in-btn {
  border-radius: 20px;
  position: absolute;
  right: 2%;
  height: 75%;
}

.nav-log-in-text {
  color: #ffc107;
  padding: 0 1.5rem;
}

.nav-log-in-text:hover {
  color: #ffc107;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: #343a40;
  color: #000;
}

#hero::before {
  margin-top: -52px;
  height: 52px;
  content: " ";
  visibility: hidden;
  pointer-events: none;
  display: block;
}

.super-big-heading {
  margin: 0;
  font-size: 8rem;
  font-weight: 900;
  line-height: 56px;
  padding-bottom: 2rem;
  font-family: 'Archivo', sans-serif;
}

.sub-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 15px 0 0 0;
  font-size: 1.5rem;
  color: #ffc107;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

#hero .section-padding {
  padding: 1% 10% 3%;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #hero {
    height: calc(120vh);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.sign-up-div {
  margin-top: 24px;
}

.sign-up-form {
  width: 85%;
  padding: 1rem 3rem 0;
  margin: auto;
}

.sign-up-heading {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 2rem;
}

.sign-up-heading-text {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1rem;
}

.sign-up-sub-heading {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  color: #ffc107;
}

.sign-up-box {
  display: block;
  margin: 0.6rem 0;
  width: 100%;
  border-radius: 20px;
  border: solid 1px #343a40;
  padding: 0.4rem;
}

.sign-up-btn-style {
  width: 100%;
  border-radius: 20px;
  margin: 1.5rem 0;
}

.log-in-text-div {
  text-align: center;
}

.log-in-text {
  transition: all .2s;
  color: #000;
  text-decoration: none;
  margin: 0;
}

.log-in-text:hover {
  color: #ffc107;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-padding {
  padding: 3% 10%;
}

.section-title-dark-bg, .section-title-light-bg {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-dark-bg h2 {
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.section-title-dark-bg p {
  font-size: 2rem;
  color: #ffc107;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.section-title-light-bg h2 {
  font-size: 2.5rem;
  color: #343a40;
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.section-title-light-bg p {
  font-size: 2rem;
  color: #5a6570;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/* About */
#about {
  background-color: #FFEAAA;
  width: 100%;
  color: #334a40;
}

#about::before {
  display: block;
  content: " ";
  margin-top: -52px;
  height: 52px;
  pointer-events: none;
  background-color: #343a40;
}

.problem-div {
  padding-bottom: 2%;
}

.solution-div {
  padding-top: 2%;
}

.why-us-div {
  margin: auto;
}

.about h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #343a40;
}

.about h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #343a40;
}

.about i {
  font-size: 48px;
  margin-top: 15px;
  color: #343a40;
  transition: all 0.2s;
}

.about i:hover {
  font-size: 48px;
  margin-top: 15px;
  color: #ffc107;
}

.about p {
  font-size: 15px;
  color: #5a6570;
}

@media (max-width: 991px) {
  .about .about-img img {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .about .about-img img {
    max-width: 90%;
  }
}

.img-fluid {
  max-width: none;
  width: 100%;
}

/* Services */
#services {
  background-color: #343a40;
  color: #000;
}

#services::before {
  display: block;
  content: " ";
  margin-top: -52px;
  height: 52px;
  pointer-events: none;
  background-color: #FFEAAA;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: #ffc107;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #000;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.service-icon {
  padding-bottom: 1rem;
}

.service-image {
  width: 30%;
}

/* Clients */
#clients {
  background-color: #FFEAAA;
}

#clients::before {
  display: block;
  content: " ";
  margin-top: -52px;
  height: 52px;
  pointer-events: none;
  background-color: #343a40;
}

.clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc107;
}

/* Contact */
#contact {
  background-color: #343a40;
}

#contact::before {
  margin-top: -52px;
  height: 52px;
  content: " ";
  pointer-events: none;
  display: block;
  background-color: #FFEAAA;
}

.contact .info {
  border-top: 3px solid #ffc107;
  border-bottom: 3px solid #ffc107;
  padding: 30px;
  background: #fff;
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #343a40;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #343a40;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #343a40;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #ffc107;
  border-bottom: 3px solid #ffc107;
  padding: 30px;
  background: #fff;
  ;
}

.contact-name-div {
  padding: 0 0.5rem 0 0;
  margin: 0;
}

.contact-email-div {
  padding: 0 0 0 0.5rem;
  margin: 0;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc107;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #343a40;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #000;
  font-size: 14px;
  background-color: #343a40;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #eb5d1e;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #000;
}

#footer .credits a {
  color: #000;
  transition: all 0.2s;
}

#footer .credits a:hover {
  color: #ffc107;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}

/* CSS SETELAH USER LOG IN */
/* Info Container */
.info-container {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  z-index: 1;
}

/* Data Pribadi */
.div-data-pribadi {
  position: absolute;
  left: 20.5%;
  top: 7.5rem;
  background-color: #fff4e7;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: -1;
}

.durasi {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.foto-profile {
  margin: 1rem;
  border-radius: 50%;
  border: solid 1px;
  height: 12.5rem;
  width: 12.5rem;
}

.institusi {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.jabatan {
  font-size: 1rem;
  margin-bottom: 0;
}

.keterampilan {
  margin-left: 5rem;
}

.kiri {
  position: static;
  left: 2rem;
}

.lowongan-kerja {
  margin-left: 5rem;
}

.utama {
  position: absolute;
  top: 3rem;
  left: 17.5rem;
}

.pengalaman-kerja {
  margin-left: 5rem;
}

.rentang {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.riwayat-pendidikan {
  margin-left: 5rem;
}

#icon-edit {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2rem;
}

/* Akhir Data Pribadi */
/* Daftar Proyek */
.daftar-proyek {
  position: static;
  background-color: #fff4e7;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: -1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data-proyek {
  font-size: 1rem;
  margin-bottom: 0;
}

.div-daftar-proyek {
  position: absolute;
  left: 20.5%;
  top: 7.5rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: -1;
}

.div-data-proyek {
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-data-proyek-besar {
  padding-left: 0;
  padding-right: 0;
}

.div-data-proyek-besar .row {
  margin: 0;
}

.logo-proyek {
  width: 100%;
}

.nama-proyek {
  padding-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#icon-edit-data-proyek {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
}

#link-invite {
  position: static;
}

#notifikasi {
  position: static;
}

/* Akhir Daftar Proyek */
/* KCIC */
.button-info-container {
  width: 100%;
  margin-top: 1rem;
}

.button-info-container .logo {
  display: inline-block;
}

.button-info-container .keterangan {
  display: inline-block;
  text-align: left;
}

.info-container-ringkas {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
}

.info-container-ringkas .div-logo {
  padding: 0;
}

.info-container-ringkas .div-ringkas {
  padding: 0;
}

.info-container-ringkas .logo {
  width: 100%;
  margin: auto;
}

.info-container-ringkas p {
  margin: 0;
  font-size: 0.75rem;
}

/* Informasi Proyek KCIC */
.div-informasi-proyek {
  position: absolute;
  left: 20%;
  top: 6rem;
  z-index: -1;
}

.div-informasi-proyek h6 {
  margin-top: 1rem;
}

.div-informasi-proyek .div-utama {
  margin-top: 2rem;
}

.div-div-notifikasi {
  padding: 0;
}

.div-notifikasi {}

.div-notifikasi .col-2 {
  padding: 0;
}

.div-notifikasi .foto-profile {
  width: 100%;
  height: auto;
  margin: 0;
}

.div-notifikasi .nama {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.div-notifikasi .jabatan {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.div-notifikasi .perusahaan {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.div-notifikasi .reply {
  margin-left: 0.2rem;
}

.div-notifikasi .timestamp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  margin-bottom: 0;
}

.div-notifikasi .keterangan {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.div-peta {
  padding: 0;
}

.div-peta p {
  font-size: 0.8rem;
}

#peta {
  width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  border: solid 1px;
  border-color: black;
}
