body {
  height: 100%;
  padding: 0;
  background-color: #F9F7F7;
  overflow: hidden;
}

h1 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

h3, h6 {
  text-align: center;
}

/* Navigation Bar */
.logo-amati-navbar {
  height: 52px;
  width: auto;
  padding: 0.6rem 0.6rem 0.5rem;
}

.dropdown-menu {
  left: -1.25rem;
}

.dropdown-item:hover {
  background-color: orange;
}

.icon {
  position: static;
  height: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 3.5rem;
  padding: 0 13%;
  z-index: 9999;
}

.navbar-collapse.show .navbar-nav {
  top: 3.4rem;
}

.navbar-collapse.collapsing .navbar-nav {
  top: 3.4rem;
}

.navbar-nav {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #ffc107;
  padding-right: 4%;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.nav-pills .nav-link.active {
  background-color: orange;
}

.posisi-page {
  position: static;
  left: 10%;
}

.profil {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem 3rem;
}

.profil .profile {
  margin: 0;
  border: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  right: 0;
}

.nav-log-in-btn {
  border-radius: 20px;
  height: 75%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.nav-log-in-text {
  color: #ffc107;
  padding: 0 1.5rem;
}

.nav-log-in-text:hover {
  color: #ffc107;
}

.navbar.navbar-layout-account {
  padding: 0;
}

.navbar-layout-account .navbar-brand {
  margin-left: 3rem;
}

/* User Tab (seluruh isi panel di bagian kiri) */
#user-tab {
  color: #ffc107;
}

.space {
  padding-left: 0;
  padding-right: 0;
}

.info-container-ringkas {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
  background-color: #ffeaaa;
  color: #000;
}

.info-container-ringkas .div-logo {
  padding: 0;
}

.info-container-ringkas .div-ringkas {
  padding: 0;
}

.info-container-ringkas .logo {
  width: 100%;
  margin: auto;
}

.info-container-ringkas p {
  margin: 0;
  font-size: 0.75rem;
}

.info-container {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  49% {
    color: #ffc107;
  }

  60% {
    color: #000;
  }

  99% {
    color: #ffc107;
  }

  100% {
    color: #000;
  }
}

.fitur {
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-bottom: 0;
  margin-top: 1rem;
}

.row {
  margin: 0;
}

.floating-panel {
  border-bottom: solid 1px;
  padding: 0.8rem;
}

.font-1-rem {
  font-size: 1rem;
}

.field-photo-heading-div {
  margin-bottom: 0.5rem;
}

.field-photo-active {
  max-height: 100%;
}

.field-photo {
  max-height: 600px;
}

.add-field-photo {
  max-height: 0;
  overflow: hidden;
}

.add-field-photo-inactive {
  border: 0;
  padding: 0;
}

.add-field-photo-active {
  max-height: 100%;
}

.btn-center {
  text-align: center;
}

.add-field-photo .add-field-photo-button {
  margin: 0.5rem auto 0;
}

.btn-padding {
  margin: 0.5rem auto 1rem;
}

/* Filter field photo */
.fieldphotooow {
  max-height: 0;
  overflow: hidden;
}

.fieldphotooow-inactive {
  padding: 0;
  border: 0;
}

.fieldphotooow-active {
  max-height: 100%;
}

/* Upload gamtek client-side */
.add-gamtek {
  max-height: 0;
  overflow: hidden;
}

.add-gamtek-inactive {
  border: 0;
  padding: 0;
}

.add-gamtek-active {
  max-height: 100%;
}

/* Input timestamp client-side */
.client-side-input-timestamp {
  max-height: 0;
  overflow: hidden;
}

.client-side-input-timestamp-inactive {
  padding: 0;
  border: 0;
}

.client-side-input-timestamp-active {
  max-height: 100%;
}

/* Input timestamp client-side */
.client-side-input-projectzone {
  max-height: 0;
  overflow: hidden;
}

.client-side-input-projectzone-inactive {
  padding: 0;
  border: 0;
}

.client-side-input-projectzone-active {
  max-height: 100%;
}

/* Input drone photo client side */
.input-drone-data-div {
  max-height: 0;
  overflow: hidden;
}

.input-drone-data-inactive {
  padding: 0;
  border: 0;
}

.input-drone-data-active {
  max-height: 100%;
}

/* Bagian hotspot 360 */
.scenes-padding {
  padding: 0;
}

#sceneList.floating-panel {
  border: 0;
  padding: 0.8rem;
}

/* Bagian foto gamtek */
.close-foto-gamtek-button-div {
  text-align: center;
  max-height: 0;
}

.close-foto-gamtek-button-div-active {
  max-height: 100%;
}

.btn.close-foto-gamtek-button {
  height: 1rem;
  font-size: 0.7rem;
  padding: 0 0.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  max-height: 0;
  overflow: hidden;
  border: 0;
  margin-right: 1rem;
}

.btn.close-foto-gamtek-button.close-foto-gamtek-button-active {
  height: 1rem;
  font-size: 0.7rem;
  max-height: 100%;
  margin: 0.5rem auto;
  padding: 0;
  width: 50%;
}

/* atur tabel fitur */
.button-utama {
  position: static;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.btn-block {
  width: 100%;
}

.btn {
  margin-bottom: 5%;
  font-size: 0.8rem;
}

/* View Tab */
.toggle-field-photo-identifier {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 0;
  overflow: hidden;
}

.toggle-field-photo-identifier.field-photo-active {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #000;
}

#map {
  position: fixed !important;
  top: 3.5rem;
  left: 16.66667%;
  bottom: 0;
  width: 83.3333%;
  margin: 0;
  padding: 0;
  line-height: 0;
  border: 0;
  overflow: hidden;
  z-index: -1;
}

#pano {
  position: absolute;
  top: 0;
  left: 16.66667%;
  height: 100%;
  width: 83.3333%;
  overflow: hidden;
  z-index: 11;
}

#myPopup {
  width: 27.1875rem;
  height: 12.5rem;
}

.popup {
  visibility: hidden;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 12;
}

.popup .popuptext {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  margin-left: 125%;
  background-color: #2f2f2f;
  text-align: center;
  border-radius: solid 1px;
  padding: 1px;
  position: static;
  z-index: 10;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  bottom: 0px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* atur posisi gamtek */
.gamtek {
  visibility: hidden;
  position: absolute;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
  height: auto;
  left: 0;
}

.popupgamtek {
  visibility: hidden;
  background-color: #fff;
  z-index: -15;
  border-radius: 6px;
  height: auto;
}

/* Popup arrow */
.gamtek .popupgamtek::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  height: auto;
}

/* Toggle this class - hide and show the popup */
.gamtek .buka {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  z-index: 5;
}

.list {
  width: 100%;
  height: auto;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border: 1px solid #2f2f2f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

.gamtek .buka img {
  opacity: 0.8;
  cursor: pointer;
}

.gamtek .buka img:hover {
  opacity: 2;
}

.zoominbefore {
  visibility: hidden;
  position: absolute;
  width: 2rem;
  z-index: -11;
}

.zoominafter {
  position: fixed;
  visibility: visible;
  z-index: 15;
  text-align: right;
  left: 16.6667%;
  top: 5rem;
  cursor: pointer;
}

.zoomoutbefore {
  visibility: hidden;
  position: absolute;
  width: 2rem;
  z-index: -11;
}

.zoomoutafter {
  position: fixed;
  visibility: visible;
  z-index: 15;
  top: 8rem;
  left: 16.6667%;
  cursor: pointer;
}

.imgzoomgamtek {
  height: 2rem;
}

.backpano {
  position: fixed;
  cursor: pointer;
  height: 2rem;
  left: 16.6667%;
  top: 11rem;
  z-index: 11;
}

.gamtekfsshow {
  position: fixed;
  visibility: visible;
  overflow: scroll;
  z-index: 11;
  left: 16.66667%;
  top: 4rem;
  max-height: 48rem;
  max-width: 68rem;
  border: 0;
  cellpadding: 0;
  cellspacing: 0;
  background: white;
}

#zoom-img {
  cursor: move;
  position: relative;
  width: 67.5rem;
  height: 47.5rem;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.div-logo-kecil {
  position: static;
  display: inline;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.logo-kecil {
  width: 100%;
  padding: 20%;
}

.card-body {
  padding: 0;
  left: 0;
}

/* Field Photo Grid */
.field-photo-grid {
  /* border: solid 1px #2f2f2f; */
  padding: 0.5rem;
}

.fieldphotoBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  max-height: 0;
  overflow: hidden;
}

.fieldphotoBox-active {
  max-height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

/* Field Photo Fullscreen */
.field-photo-fullscreen-div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

}

.field-photo-fullscreen-content {
  background-color: #fff;
  position: relative;
  z-index: 2;

}

.field-photo-fullscreen-bg {
  background-color: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
